  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: black;
     background-image: url("blue_shade.jpg");}
  h1 {
     font-family: 'M PLUS Rounded 1c';
     font-size: 25px;
     color:#0e0738}
  h2{
 font-family: "Times New Roman", Times, serif;}
